.App {
  text-align: center;
  display: flex;
}
.App-header {
  background-color:grey;
  height: 100px;
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.App-body {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background-color: white;
}
.App-footer {
  background-color:grey;
  height: 50px;
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.header-button {
  background-color: skyblue;
  justify-content: center;
  text-align: center;
  font-size: 1.5rem;
  color: white;
  display: flex;
}
.top {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  flex-direction: row;
  padding: 20px;
}
.filter {
  display: flex;
  flex-direction: column;
  padding: 20px;
  border: 1px solid skyblue;
  border-radius: 5%;
}
.innerFilter{
  display: flex;
  flex-direction: column;
}
.addRecipe {
  display: flex;
  padding: 20px;
  flex-direction: column;
  border: 1px solid skyblue;
  border-radius: 5%;
}
.editRecipe {
  display: flex;
  padding: 20px;
  flex-direction: column;
  border: 1px solid skyblue;
  border-radius: 5%;
}
.recipe {
  width: 300px;
  height: 400px;
  padding: 20px;
  border: 1px solid skyblue;
  overflow-y: auto;
  margin-bottom: 35px;
  border-radius: 5%;
}
.grid {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
  padding: 20px;
}
.title {
  text-align: center;
}
img {
  max-width: 100%;
  object-fit: contain;
}
::-webkit-scrollbar {
  width: 0px;
}
.foodType {
  color: orange;
  text-align: center;
}
.recipeHeader {
  display: flex;
  justify-content: space-between;
  padding: 5px;
}

